<style type="text/css">
	table.tableizer-table {
	border: 1px solid #CCC; font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
} 
.tableizer-table td {
	padding: 4px;
	margin: 3px;
	border: 1px solid #ccc;
}
.tableizer-table th {
	padding: 4px;
	margin: 3px;
	border: 1px solid #ccc;
	font-weight: bold;
}
</style><table class="tableizer-table">
<tr class="tableizer-firstrow"><th>Parameter</th><th>GPS</th><th>GLONASS</th><th>Galileo</th><th>Beidou</th></tr>
 <tr><td>First launch</td><td>22-Feb-78</td><td>12-Oct-82</td><td>28-Dec-05</td><td>13-Apr-07</td></tr>
 <tr><td>FOC</td><td>17-Jul-95</td><td>18-Jan-96</td><td>2012</td><td>2013</td></tr>
 <tr><td rowspan="2">Services</td><td>military</td><td>military</td><td>commercial</td><td>authorized</td></tr>
 <tr><td>civil</td><td>civil</td><td>open</td><td>open/commercial</td></tr>
 <tr><td>Number of SV</td><td>31</td><td>24</td><td>27</td><td>27</td></tr>
 <tr><td>Orbital planes</td><td>6</td><td>3</td><td>3</td><td>3</td></tr>
 <tr><td>Inclination</td><td>55°</td><td>64.8°</td><td>56°</td><td>55°</td></tr>
 <tr><td>Semi-major Axis [Km]</td><td>26560</td><td>25508</td><td>29601</td><td>27840</td></tr>
 <tr><td>Period</td><td>11h58m</td><td>11h15m</td><td>14h05m</td><td>12h50m</td></tr>
 <tr><td>Coordinate frame</td><td>WGS-84</td><td>PZ-90</td><td>GTRF</td><td>CGCS2000</td></tr>
 <tr><td>Time system</td><td>GPST</td><td>UTC (SU)</td><td>GST</td><td>China UTC</td></tr>
 <tr><td>Coding</td><td>CDMA</td><td>FDMA</td><td>CDMA</td><td>CDMA</td></tr>
 <tr><td rowspan="4">Frequencies [MHz]</td><td>L1:1575.42</td><td>G1:1602</td><td>E1:1575.42</td><td>B1-2:1589.74</td></tr>
 <tr> <td>L2:1227.60</td><td>G2:1246</td><td>E5a:1176.45</td><td>B-1:1561.1 (E2’)</td></tr>
 <tr> <td>L5:1176.45</td><td>G3:TBD</td><td>E5b:1207.14</td><td>B2:1207.14 (E5b)</td></tr>
 <tr> <td>&nbsp;</td><td>&nbsp;</td><td>E6:1278.75</td><td>B3:1268.52 (E6)</td></tr>
</table>
